<%= form_for @tweet do |f| %>
    <div class="form-container">

        <h3>レシピを編集しよう</h3>

        <!-- レシピ名 -->
        <div class="field">
            <%= f.label :title, "レシピ名" %> <!-- レシピ名 -->
            <%= f.text_field :title, placeholder: "レシピの名前を入力してください", class: "input-field" %>
        </div>
        
        <div class="field">
            <%= f.label :servings, "何人分" %>
            <br>
            <div class="servings-field">
                <%= f.number_field :servings, placeholder: "例: 4", min: 1, class: 'servings-input' %>
                <span class="servings-unit">人分</span>
            </div>
        </div>

        <!-- 材料と分量 -->
        <div class="field">
            <%= f.label :quantity, "材料と分量" %>
            <br>
            <%= f.text_area :quantity, rows: 5, cols: 50, placeholder: "例: 米 2合、鶏肉 300g" %>
        </div>

        <!-- 作り方 -->
        <div class="field">
            <%= f.label :body, "作り方" %>
            <%= f.text_area :body, rows: 5, cols: 50, placeholder: "作り方を入力してください", class: "textarea-field" %>
        </div>

        <!-- 写真 -->
        <div class="field">
                <%= f.label :image, "写真" %> 
                <%= f.file_field :image, class: "file-input" %>
            <% if @tweet.image.attached? %> <!-- 既存の画像をプレビュー -->
                <div class="image-preview">
                    <%= image_tag @tweet.image, size: '200x200' %>
                </div>
            <% end %>
        </div>

        <!-- タグ -->
        <div class="check_box">
        <span>タグ</span>
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <div class="tag-option">
                        <%= tag.label do %>
                        <%= tag.check_box %>
                        <%= tag.text %>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div class="submit-container">
            <%= f.submit "更新する", class: "submit-button" %> <!-- 更新ボタン -->
        </div>

    </div>
<% end %>

<%= link_to "戻る", tweet_path(@tweet), class: "back-link" %> <!-- 戻るリンク -->
