<h1></h1>

<%= link_to "新規投稿",new_tweet_path %></li>

<!-- いいねランキング表示 -->
<h3>いいねランキング</h3>
<div class="tweets-container">
    <% @rank_tweets.each_with_index do |tweet, index| %>
        <div class="ranking">
            <p><%= index + 1 %>. 料理名: <%= tweet.title %> - いいね数: <%= tweet.likes.count %></p> <!-- 料理名だけ表示 -->
            <%= link_to "詳細へ", tweet_path(tweet.id) %> 
        </div>
    <% end %>
</div>

<%= link_to '新しい順', tweets_path(latest: "true") %> |
<%= link_to '古い順', tweets_path(old: "true") %> |

<%= form_tag tweets_path, method: :get, class: 'boards__searchForm' do %>
    <%= select_tag :tag_id,
                    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                    {
                    prompt: 'タグで絞り込み検索',
                    onchange: 'submit(this.form);'
                    }
    %>
<% end %>

<!-- 投稿一覧表示 -->
<h3>投稿一覧</h3>
<div class="tweets-container">
    <% @tweets.each do |tweet| %>
        <div class="tweet">
            <p>投稿者: <%= tweet.user.email %></p>
            <p>料理名: <%= tweet.title %></p> <!-- レシピ名を表示 -->
            <p>投稿日: <%= l tweet.created_at %></p>

            <% if user_signed_in? %>
                <% if current_user.already_liked?(tweet) %>
                    <%= link_to tweet_like_path(id: tweet.id, tweet_id: tweet.id), data: { turbo_method: :delete } do %>
                        <i class="fas fa-heart"></i><%= tweet.likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to tweet_likes_path(id: tweet.id, tweet_id: tweet.id), data: { turbo_method: :post }  do %>
                        <i class="fas fa-heart"></i><%= tweet.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="fas fa-heart"></i><%= tweet.likes.count %>
            <% end %>

            <% if tweet.image.attached? %>
                <%= image_tag tweet.image, size: '250x200' %>
            <% end %>

            <% tweet.tags.each do |tag| %>
                <span class="tag"><%= tag.name %></span>
            <% end %>

            <%= link_to "詳細へ", tweet_path(tweet.id) %> 
            <% if user_signed_in? && current_user.id == tweet.user_id %>
                <%= link_to "編集する", edit_tweet_path(tweet.id) %>
                <%= button_to "削除する", tweet_path(tweet.id), method: :delete %>
            <% end %>
        </div>
    <% end %>

    <%= paginate @tweets %>
    <%= page_entries_info @tweets %>
</div>


<% @rank_tweets.each do |t| %>
    <% end %>
