<h1>kyoudomeshi</h1>
<%= link_to "ログイン", tweets_path %>
<%= link_to "新規登録", new_user_registration_path %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %> 
<h3>Tweet一覧</h3>
<%= link_to "新規投稿へ", new_tweet_path %>

<%= link_to '新しい順', tweets_path(latest: "true") %>
<%= link_to '古い順', tweets_path(old: "true") %>
<%= link_to '評価の高い順', tweets_path(star_count: "true") %>
        

<%= form_tag tweets_path, method: :get, class: 'boards__searchForm' do %>
    <%= select_tag :tag_id,
                    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                    {
                    prompt: 'タグで絞り込み検索',
                    onchange: 'submit(this.form);'
                    }
    %>
<% end %>

<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>

<div class="tweets-container">
    <% @tweets.each do |t| %>
        <div class="tweet">
            <%= t.user.email %>
            <%= t.body %>
            <td><%= l t.created_at %></td>

            <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                    <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), data: { turbo_method: :delete } do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), data: { turbo_method: :post }  do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>

        <% if t.image.attached? %>
            <%= image_tag t.image, size: '250x200'%>
        <% end %>

            <%= link_to "詳細へ", tweet_path(t.id) %> 
            <% if user_signed_in? && current_user.id == t.user_id %>
                <%= link_to "編集する", edit_tweet_path(t.id) %>
                <%= button_to "削除する", tweet_path(t.id), method: :delete %>
            <% end %>
        </div>
    <% end %>

    <%= page_entries_info @tweets %>
    <%= paginate @tweets %>

    <% @rank_tweets.each do |t| %>
    <% end %>
</div>
