
<%= form_for @tweet do |f| %>
<div class="form-container">

    <h3>レシピを投稿しよう</h3>

    <!-- レシピ名 -->
    <div class="field">
        <%= f.label :title, "レシピ名" %> <!-- レシピ名のラベル -->
        <br>
        <%= f.text_field :title, placeholder: "レシピの名前を入力してください" %> <!-- レシピ名の入力欄 -->
    </div>

    <!-- 分量 -->
    <div class="field">
        <%= f.label :servings, "何人分" %>
        <br>
            <div class="servings-field">
                <%= f.number_field :servings, placeholder: "例: 4", min: 1, class: 'servings-input' %>
                <span class="servings-unit">人分</span>
            </div>
    </div>

    <!-- 材料と分量 -->
    <div class="field">
        <%= f.label :quantity, "材料と分量" %>
        <br>
        <%= f.text_area :quantity, rows: 5, cols: 50, placeholder: "例: 米 2合、鶏肉 300g" %>
    </div>

    <!-- 投稿欄 -->
    <div class="field">
        <%= f.label :body, "レシピ" %>
        <br>
        <%= f.text_area :body, rows: 5, cols: 50, placeholder: "作り方を入力してください" %>
    </div>

    <!-- 写真 -->
    <div class="field">
        <%= f.label :image, "写真" %>
        <%= f.file_field :image %>
    </div>


    <!-- タグ -->
    <div class="check_box">
        <span>タグ</span>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class="tag-option">
                <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
            <% end %>
        </div>
        <% end %>
    </div>

    <div class="submit-container">
        <%= f.submit "投稿する", class: "submit-button" %>
    </div>
    <% end %>

    <%= link_to "一覧に戻る", tweets_path, class: "back-link" %>
</div>