<h1></h1>

<h3>レシピを投稿しよう</h3>

<%= form_for @tweet do |f| %>
<div class="form-container">
    <!-- 投稿欄 -->
    <div class="field">
        <%= f.label :body, "レシピ内容" %>
        <br>
        <%= f.text_area :body, rows: 5, cols: 50, placeholder: "レシピの説明を入力してください" %>
    </div>

    <!-- 分量 -->
    <div class="field">
        <%= f.label :quantity, "分量" %>
        <br>
        <%= f.text_area :quantity, rows: 5, cols: 50, placeholder: "分量を教えてください" %>
    </div>

    <br>


    <br>

    <!-- 写真 -->
    <div class="field">
        <%= f.label :image, "写真" %>
        <%= f.file_field :image %>
    </div>

    <br>

    <!-- タグ -->
    <div class="check_box">
        <span>タグ</span>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class="tag-option">
                <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
            <% end %>
        </div>
        <% end %>
    </div>

    <div class="submit-container">
        <%= f.submit "投稿する", class: "submit-button" %>
    </div>
<% end %>

    <%= link_to "一覧に戻る", tweets_path, class: "back-link" %>
</div>