<h2>パスワードの変更</h2>

<%= form_for(resource, as: resource_name, url: user_password_path) do |f| %>
  <div>
    <%= f.label :current_password, "現在のパスワード" %>
    <%= f.password_field :current_password, required: true %>
  </div>

  <div>
    <%= f.label :password, "新しいパスワード" %>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.label :password_confirmation, "新しいパスワード（確認用）" %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <%= f.submit "パスワードを変更する" %>
<% end %>


<%= render "users/shared/links" %>
