<!DOCTYPE html>
<html>
  <head>
    <title>Kyoudomeshi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/42eeb513c8.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
  </head>

  <body>
    <header>
      <h1>郷土料理</h1>

      <!-- ハンバーガーメニューアイコン -->
      <div class="hamburger-menu" id="hamburger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <div class="header-list">
        <nav id="nav-menu" class="nav-menu">
          <ul>
            <li><%= link_to "ホーム", tweets_path %></li>
            <li><%= link_to "新規投稿",new_tweet_path %></li>
            <% unless user_signed_in? %>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
            <% end %>
            <% if user_signed_in? %>
              <!-- ログイン中のみ表示 -->
              <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <!-- ハンバーガーメニュー用JavaScript -->
    <script>
      // ハンバーガーメニューをクリックしたときにメニューの表示・非表示を切り替える
      document.getElementById('hamburger-menu').addEventListener('click', function() {
        var navMenu = document.getElementById('nav-menu');
        navMenu.classList.toggle('open'); // メニューを開閉
      });
    </script>
  </body>
</html>
