<!DOCTYPE html>
<html>
  <head>
    <title>Kyoudomeshi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/42eeb513c8.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   
  </head>

  <body>
    <header>
    <h1>郷土料理</h1>
    <div class="header-list">
    <ul>
      <li><%= link_to "ホーム", tweets_path %></li>
      <li><%= link_to "新規投稿",new_tweet_path %></li>
    </ul>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>

  <footer>
    <p></p>
  </footer>
  </body>
</html>
